<!-- frontend/userinterface/templates/userinterface/contact.html -->
<title> PanelSearcher    
</title>
{% block page_content %}

<p>Welcome to our panel managing tool!</p>
<!-- Here the forms defined in models.py reside and allow for user input -->
<form action="" method="post"action="{% url 'userinterface/your_view'}" >
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit">
</form>

<h3>You requested: </h3>

<!-- Here the data collected through views.py is displayed -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </h4>
    {% endfor %}
</ul>
{% endif %}


{% endblock page_content %}
